@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Work+Sans:wght@400;500;600;700&display=swap');

/* shared styles */
*{
  font-family: 'Poppins', sans-serif;
  font-family: 'Work Sans', sans-serif; 
  margin: 0px;
}

img{
  width: 100%;
}

.btn-primary{
  border-radius: 41px;
  border: 0;
  background: #E02C6D;
  color: var(--default-color);
  padding: 10px 24px;
  font-size: 1rem;
  font-weight: 700;
  cursor: pointer;
}

/* variables */
:root{
  --primary-title-color: #3A3A3A;
  --default-color: #FFF;
  --secondary-title-color: #18191F;
  --secondary-description-color: #787885;
}

/* header section starts */
header{
  max-width: 1440px;
  background: var(--default-color);
  margin: 90px 120px;
}

/* nav-section starts */
.nav-container{
  display: flex;
  justify-content: space-between;
}

.nav-title{
  color: var(--title-color);
  font-size: 1.5rem;
  font-weight: 700;
}

.nav-link{
  display: flex;
  gap: 24px;
}

.nav-link li{
  list-style: none;
}

.nav-link li a{
  text-decoration: none;
  color: var(--primary-title-color);
  font-size: 1rem;
  font-weight: 600;
}

/* banner-section starts */
.banner-container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 50px auto;
}

.banner-description-container .banner-title{
  color: var(--primary-title-color);
  font-size: 3.1rem;
  font-weight: 700;
}

.banner-description-container .banner-description{
  color: var(--primary-title-color);
  font-size: 1rem;
  font-weight: 600;
  margin: 16px auto;
}

.banner-img-container{
  background-image: url("../images/Circle design.svg");
  padding: 30px 30px 30px 2px;
}

/* Logo section starts */
.logo-container{
  display: flex;
  justify-content: space-around;
  margin: 130px auto;
}

.logo-container img{
  width: 85px;
}