@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Work+Sans:wght@400;500;600;700&display=swap');

/* shared styles */
*{
  font-family: 'Poppins', sans-serif;
  font-family: 'Work Sans', sans-serif; 
  margin: 0px;
}

img{
  width: 100%;
}

.btn-primary{
  border-radius: 41px;
  border: 0;
  background: #E02C6D;
  color: var(--default-color);
  padding: 10px 24px;
  font-size: 1rem;
  font-weight: 700;
  cursor: pointer;
}

/* variables */
:root{
  --primary-title-color: #3A3A3A;
  --default-color: #FFF;
  --secondary-title-color: #18191F;
  --secondary-description-color: #787885;
}

/* header section starts */
header{
  max-width: 1440px;
  background: var(--default-color);
  padding: 90px 120px;
  height: 100vh;
}

/* nav-section starts */
.nav-container{
  display: flex;
  justify-content: space-between;
}

.nav-title{
  color: var(--title-color);
  font-size: 1.5rem;
  font-weight: 700;
}

.nav-link{
  display: flex;
  gap: 24px;
}

.nav-link li{
  list-style: none;
}

.nav-link li a{
  text-decoration: none;
  color: var(--primary-title-color);
  font-size: 1rem;
  font-weight: 600;
}

/* banner-section starts */
.banner-container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 50px auto;
}

.banner-description-container .banner-title{
  color: var(--primary-title-color);
  font-size: 3.1rem;
  font-weight: 700;
}

.banner-description-container .banner-description{
  color: var(--primary-title-color);
  font-size: 1rem;
  font-weight: 600;
  margin: 16px auto;
}

.banner-img-container{
  background-image: url("../images/Circle design.svg");
  /* padding: 30px 30px 30px 2px; */
  background-repeat:no-repeat;
  background-size:contain;
  background-position:center;
}

/* Logo section starts */
.logo-container{
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  margin: 130px auto;
  justify-items: center;
  align-items: center;
}

.logo-container img{
  width: 85px;
}
/* header section ends */

/* main section starts */
main{
  max-width: 1440px;
  background: var(--default-color);
}

/* cards section starts */
.collection-title{
  color: var(--primary-title-color);
  font-size: 1.8rem;
  font-weight: 600;
  /* margin: 30px auto; */
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.cards-container{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.card{
  border-radius: 5px;
  background: var(--default-color);
  box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
  padding: 15px;
}

.card-extra{
  padding-right: 60px;
}

.card-title{
  color: var(--secondary-title-color);
  font-size: 1.8rem;
  font-weight: 500;
  margin-top: 16px;
}

.card-price{
  color: rgba(0, 0, 0, 0.87);
  font-size: 1.4rem;
  margin-top: 6px;
}

.card-description{
  color: var(--secondary-description-color);
  font-size: 1.4rem;
  margin-top: 15px;
}

/* Responsive section */

/* mobile devices */
@media screen and (max-width: 576px) {

  header{
    padding: 35px 22px;
    text-align: center;
  }

  .nav-container, 
  .banner-container
  {
    flex-direction: column;
  }
  
  .nav-container{
    gap: 10px;
    padding: 20px;
  }
  .nav-link{
    gap: 5px;
    flex-wrap: wrap;
  }

  .banner-container{
    margin: 30px 22px;
    flex-direction: column-reverse;
  }

  .logo-container{
   grid-template-columns: repeat(4, 1fr);
   gap: 14px;
   margin-top: 50px;
  }

  .logo-container img{
    width: 80%;
  }

  .cards-container{
    grid-template-columns: 1fr;
  }

  .card-extra{
    padding: 5px;
  }
}